.footer{
    text-align: center;
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left:30px;
    padding-bottom: 20px;
    padding-top: 10px;
    color: #999;
}

.footer a{
    text-decoration: none;
    color: #999;
}

.footer--redes{
    height: 25px;
    filter: invert(100%);
}

.footer--redes img{
    height: 100%;
    padding-right: 20px;
}

.footer--redes img:hover{
    cursor: pointer;
}

.footer--criador{
    padding-top:15px;
}